# Ignore everything in the root except the "wp-content" directory, root readme, and gitignore.
/*
!.gitignore
!README.md
!wp-content/

# Ignore everything in the "wp-content" directory, except the "themes" directory.
wp-content/
wp-content/plugins/
wp-content/mu-plugins/
!wp-content/themes/

# Ignore themes unless otherwise specified.
wp-content/themes/
!wp-content/themes/earthstrike
!wp-content/themes/Divi
!wp-content/themes/divi-child-theme